<!DOCTYPE html>
<html>
  <head>
    <title>Yurtas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">


  </head>

  <body style="min-height:100vh; display:flex; flex-flow:column;">

    <nav class="navbar navbar-expand-lg navbar-light bg-primary" style="min-height:10vh;">
      <div class="container">
        <% if @current_user %>
          <a class="navbar-brand font-weight-bold text-white" href="/index">Yurtas</a>
          <% if unchecked_notifications.any? %>
            <a class="navbar-brand text-white" href="/notifications">
              <span class="fa-stack" style="font-size: 0.7em;">
                <i class="far fa-bell fa-stack-2x" style="font-size: 1.5em;"></i>
                <i class="fas fa-circle fa-stack-1x n-circle"></i>
              </span>
              通知
            </a>
          <% else %>
            <a class="navbar-brand text-white" href="/notifications">
                <i class="far fa-bell"></i>
              通知
            </a>
          <% end %>

        <% else %>
          <a class="navbar-brand font-weight-bold text-white" href="/">Yurtas</a>
        <% end %>
        <button class="navbar-toggler custom-hamburger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border-color:white;">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if @current_user %>
              <li class="nav-item active">
                <a class="nav-link text-white" href="/index">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <%= link_to(@current_user.name, "/users/#{@current_user.id}", {class: "nav-link text-white"}) %>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/users/index">Users</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/overalls">全体の掲示板</a>
                  <a class="dropdown-item" href="/requests/departments">各部署の掲示板</a>
                  <a class="dropdown-item" href="/requests/works">各係の掲示板</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/help">Yurtasの使い方</a>
                </div>
              </li>
              <li class="nav-item">
                <%= link_to("Logout", "/logout", {method: :post, class: "nav-link text-white", tabindex: "-1"}) %>
              </li>
            <% else %>
              <li class="nav-item active">
                <a class="nav-link text-white" href="/about">Yurtasとは <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/signup/text">新規登録</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/help/nlog">ログイン方法</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container" style="flex:1;">

      <% if flash[:notice] %>
        <div class="alert alert-warning alert-dismissible fade show text-center">
          <strong><%= flash[:notice] %></strong>
          <button class="close" data-dismiss="alert"> &times; </button>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer class="footer bg-dark">
      <div class="footer-copyright text-center py-2 text-light">© 2021 :
        <p class="d-inline-block">Yurtas</p>
      </div>
    </footer>

  </body>
</html>
